* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}


@font-face {
 font-family: sign;
 src: url(Creattion\ Demo.otf);
}

img {
 width: 100%;
}

.head_img {
 display: flex;
 min-height: 50vh;
 flex-direction: row;
}

.greenBg {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: space-between;
 width: 50%;
 background-color: rgb(41, 72, 49);
}

.greenBg div img {
 width: 150px;
 position: absolute;
 left: -60px;
 top: -10px;
}

.title {
 color: #c0762c;
 margin: 35px;
 width: 200px;
}

.title p {
 margin: 0px;
}

.title_head {
 text-align: start;
 text-transform: uppercase;
 font-family: 'Viaoda Libre',
  cursive;
 letter-spacing: .9px;
 font-weight: lighter;
 font-size: 3vh;
}

.sign {
 font-family: sign;
 font-size: 8vh;
}

img.first_img {
 max-height: 100vh;
 width: 50%;
}

.second_content {
 display: flex;
 justify-content: center;
 align-items: center;
}

.second_content .second_img {
 position: absolute;
 height: 80vh;
}

.second_content .third_img {
 position: relative;
 width: 300px;
}

.title2 {
 height: 100%;
 width: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 position: absolute;
 top: 0;
 color: #ea9b4c;
}

.title_name {
 margin-bottom: 20px;
 font-family: sign;
 font-size: 60px;
 text-align: center;
 position: absolute;
 top: 0;
 margin-top: 30px;

}

.details {
 justify-self: center;
 text-align: center;
 position: absolute;
 margin-top: 120px;
}

.details p:last-child {
 margin-top: 20px;
}

.details img {
 width: 70%;
}

.date {
 justify-self: flex-end;
 position: absolute;
 bottom: 0;
 margin-bottom: 40px;
 text-align: center;
}

.date p:first-child {
 font-size: 24px;
 font-weight: bold;
}

.date p:last-child {
 margin-top: 10px;
}

.third_content .fourth_img {
 height: 100vh;
 position: relative;
 top: -50px;
 z-index: -1;
}

.third_content {
 width: 100%;
 height: 100%;
 position: absolute;
}

.story {
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
}

.story img {
 width: 120px;
 margin-top: 100px;
}

.story p {
 position: absolute;
 margin-top: 100px;
 font-size: 20px;
 font-style: italic;
 color: rgb(91, 86, 86);
 font-weight: 540;
}

.begin {
 text-align: center;
 margin-top: 50px;
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 9px;
}

.begin_absolute {
 position: absolute;
 font-size: 40px;
 text-align: center;
 color: rgb(233, 233, 233);
 z-index: -1;
 font-style: italic;
}

.begin p:last-child {
 word-spacing: 5px;
 font-weight: bold;
 letter-spacing: 1px;
 color: rgb(142, 142, 142);
}

.fifth_img_box {
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 50px;
}

.fifth_img img {
 margin-right: 15px;
 width: 90%;
 max-width: 350px;
}

.fifth_img_text {
 width: 300px;
 font-size: 12px;
}

.fifth_img_text p {
 margin: 5px 0;
}

@media only screen and (max-width: 768px) {
 .fifth_img_text {
  font-size: 10px;
 }
}

@media only screen and (max-width:542px) {
 .fifth_img_box {
  flex-direction: column;
 }
}

.wedding_timeline {
 width: 100%;
 text-align: center;
 margin: 100px 0;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.wedding_timeline img {
 width: 250px;
 position: absolute;
 z-index: -1;
}

.wedding_timeline p:first-child {
 font-size: 40px;
 font-family: sign;
}

.timeline_date {
 font-size: 10px;
 margin-top: 10px;
}

.container {
 min-height: 100vh;
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 50px 0;
}

.timeline {
 width: 80%;
 height: auto;
 max-width: 800px;
 margin: 0 auto;
 position: relative;
}

.timeline ul {
 list-style: none;
}

.timeline_content {
 margin-bottom: 10px;
 text-align: right;
 display: flex;
 flex-direction: column;
 justify-content: center;
 height: 220px;

}

.timeline-content {
 display: flex;
 justify-content: center;
 align-items: center;
}

.timeline img {
 width: fit-content;
}

li:nth-child(odd) .timeline_time,
li:nth-child(even) .timeline_time {
 background: rgb(234, 180, 132);
 padding: 4px 10px;
 color: white;
 font-size: 12px;
 width: fit-content;
 position: absolute;
 right: 0;
 top: 20px;
 margin: 10px 0;
}

li:nth-child(even) .timeline_time {
 left: 0;

}

li:nth-child(even) .timeline_content {
 text-align: left;
}

.timeline_text h2 {
 font-weight: lighter;
 margin: 10px 0;
 color: rgb(79, 79, 79);
}

.timeline_text p {
 font-size: 13px;
 color: rgb(126, 126, 126);
}

.timeline ul li {
 width: 50%;
 margin-bottom: 10px;
 position: relative;
 height: 220px;
}

.timeline ul li:nth-child(odd) {
 float: left;
 transform: translate(-30px);
}

.timeline ul li:nth-child(even) {
 float: right;
 transform: translate(30px);
}

.timeline-content img {
 position: relative;
 top: -10px;
}

.timeline::before {
 content: " ";
 position: absolute;
 height: 100%;
 width: 2px;
 background-color: rgb(210, 210, 210);
 left: 50%;
 transform: translate(-50%);
}

.timeline ul li::after,
.timeline ul li::before {
 content: " ";
 position: absolute;
 height: 20px;
 width: 20px;
 background-color: rgba(248, 211, 143, 0.5);
 border-radius: 50%;
 top: 0;
}

.timeline ul li:first-child::after {
 width: 10px;
 height: 10px;
}

.timeline ul li:nth-child(odd)::after,
.timeline ul li:nth-child(odd)::before {
 transform: translate(50%, -50%);
 right: -30px;
}

.timeline ul li:nth-child(even)::after,
.timeline ul li:nth-child(even)::before {
 display: none;
}

.timeline ul li:nth-child(odd)::before {
 width: 10px;
 height: 10px;
 background-color: rgb(255, 207, 118);
}

.stay {
 width: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 height: 100px;
 position: relative;
 margin: 50px 0;
}

.circle {
 margin: 30px 0;
}

.circle img {
 width: 180px;
}

.circle div {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -70%);
 word-wrap: break-word;
 font-size: 28px;
 text-align: center;
 font-style: italic;
 color: rgb(67, 67, 67);
}

.stay>p {
 text-align: center;
 width: 90%;
 max-width: 600px;
 color: rgb(96, 96, 96);
}

.stay>img {
 width: 100%;
 position: absolute;
 z-index: -1;
 top: 30px;
}

@media only screen and (min-width: 868px) {
 .stay>img {
  top: -50px;
 }
}

@media only screen and (min-width: 1300px) {
 .stay>img {
  top: -150px;
 }
}

@media only screen and (max-width: 600px) {
 .stay>img {
  top: 100px;
 }
}

.box-flex {
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 position: relative;
 top: 150px;
}

.box {
 width: 300px;
 height: 200px;
 background: rgb(255, 233, 214);
 margin: 0 10px;
 display: flex;
 flex-direction: column;
 text-align: center;
 justify-content: center;
 align-content: center;
}

.box i {
 font-size: 50px;
 color: rgb(234, 161, 97);
}

.box h2 {
 margin: 20px 0;
 color: rgb(97, 97, 97);
}

.box p {
 color: rgb(132, 132, 132);
}

.bird {
 display: flex;
 flex-direction: column;
 text-align: center;
 width: 100%;
 margin-top: 200px;
 justify-content: center;
 align-items: center;
}

.bird img {
 width: 200px;
 position: relative;
 margin: 50px 0;
}

.bird h {
 color: rgb(60, 60, 60);
 font-weight: 540;
}

.bird p {
 color: rgb(101, 101, 101);
 font-weight: 540;
 font-size: 14px;
 max-width: 500px;
}

.last_img {
 position: relative;
}

.last_img img.last_bg {
 z-index: -1;
 position: absolute;
 top: -250px;
}

@media only screen and (min-width:700px) {
 .last_img img.last_bg {
  position: absolute;
  top: -400px;
 }

 .family_img {
  height: 500px;
 }

 .family_img img {
  max-width: 500px;
 }
}

.family_img {
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
 top: 20px;
}

.family_img img {
 width: 50%;
 border-radius: 10px;
 box-shadow: 1px 1px 4px 1px black;
}

.family_text {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
 position: relative;
 top: 100px;
 color: rgb(49, 49, 49);
}

.family_text img {
 width: 150px;
 margin-top: 10px;
}

.date_boxes {
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
 top: 120px;
}

.date_boxes div {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background: rgb(255, 233, 214);
 margin: 0 5px;
 padding: 5%;
 height: 110px;
}

.icons {
 width: 100%;
 display: flex;
 position: relative;
 justify-content: space-around;
 align-items: center;
 top: 180px;
 padding: 0 50px;
 text-align: center;
}

.icon .icon_img img {
 width: 80px;
}

.icon .icon_img {
 height: 80px;
}

.icon p {
 margin: 10px 0;
 color: rgb(79, 79, 79);
}

.footer {
 background: rgb(24, 56, 24);
 height: 250px;
 position: relative;
 top: 200px;
 width: 100%; 
}

.mark div img:first-child {
 position: absolute;
 left: 0;
 width: 250px;
 margin: 0 50px;
 float: left;
}

.mark img:last-child {
 position: absolute;
 width: 35vw;
 right: 10%;
 top: 50px;
 float: right;
}
.mark_text {
 text-align: center;
 width: 100px;
 position: relative;
 top: 80px;
 left: 120px;
 font-size: 25px;
 color: rgb(149, 135, 59);
}