* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}


@font-face {
 font-family: sign;
 src: url(Creattion\ Demo.otf);
}

:root{
 font-family: 'Work Sans',
 sans-serif;
}

body {
 height: 100vh;
}

img {
 width: 100%;
}

.head_img {
 display: flex;
 height: fit-content;
}


.fa-bars{
 color: rgb(255, 255, 255);
 background: rgb(49, 49, 49);
 padding: 5px;
 width: fit-content;
 height: fit-content;
 border-radius: 20px;
 position: absolute;
 z-index: 1;
 top: 200px;
 right: 35px;
}

.greenBg {
 width: 50vw;
 max-width: 50vw;
 display: flex;
 flex-direction: column;
 background-color: rgb(41, 72, 49);
}

.greenBg img {
 width: 150px;
 position: absolute;
 left: -60px;
 top: -10px;
}

.title {
 height: 100%;
 color: #c0762c;
 margin: 35px 20px;
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
 align-items: flex-start;
}

.title_head {
 text-align: start;
 text-transform: uppercase;
 font-family: 'Work Sans',
 sans-serif;
 letter-spacing: .9px;
 font-weight: lighter;
 font-size: 15px;
}

.sign {
 font-family: sign;
 font-size: 5vw;
}

img.first_img {
 height: 50vh;
 width: 50vw;
}

@media only screen and (min-width: 780px) {
 img.first_img {
  height: 100vh;
 }
}

.second_content {
 display: flex;
 justify-content: center;
 align-items: center;
 background-image: url("image/intro_bg03.jpg");
 background-repeat: no-repeat;
 background-size: 100% 100%;
 padding: 10px;
}

.second_content .third_img {
 background-image: url("image/invitation_card_wc_bg.jpg");
 background-size: cover;
 width: 350px;
 padding: 35px;
}

.title2 {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 color: #ea9b4c;
}

.title_name {
 font-family: sign;
 font-size: 60px;
 text-align: center;
}

.details {
 text-align: center
}

.details p {
 margin: 20px 0;
}

.details img {
 width: 100%;
 transform: scale(0.7);
}

.date {
 margin: 10px 0;
}

.date p:first-child {
 font-size: 24px;
 font-weight: bold;
}

.date p:last-child {
 margin-top: 10px;
}

.third_content {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 position: relative;
 background-image: url("image/travel_bg03.jpg");
 background-repeat: no-repeat;
 background-size: 100% 140%;
 position: relative;
 z-index: -1;
}

.third_detail {
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: center;
}

.story div {
 position: relative;
 top: 65px;
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
 background-image: url("image/golden_frame-300x294.png");
 background-repeat: no-repeat;
 background-size: 100px;
 width: 100px;
 height: 100px;
 position: relative;
}

.begin {
 text-align: center;
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 9px;
 position: relative;
 top: 100px;
}

.begin_absolute {
 position: absolute;
 font-size: 40px;
 text-align: center;
 color: rgb(233, 233, 233);
 z-index: 0;
 font-style: italic;
}

.begin p:last-child {
 word-spacing: 5px;
 font-weight: bold;
 letter-spacing: 1px;
 z-index: 1;
 color: rgb(142, 142, 142);
}

.fifth_img_box {
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
 top: 150px;
}

.fifth_img img {
 margin-right: 15px;
 width: 90%;
 max-width: 350px;
}

.fifth_img_text {
 width: 300px;
 font-size: 12px;
}

.fifth_img_text p {
 margin: 5px 0;
}

@media only screen and (max-width: 768px) {
 .fifth_img_text {
  font-size: 10px;
 }
}

@media only screen and (max-width:542px) {
 .fifth_img_box {
  flex-direction: column;
 }
}

.wedding_timeline {
 text-align: center;
 margin: 150px 0 100px 0;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.wedding_timeline img {
 width: 250px;
 position: absolute;
 z-index: -1;
}

.wedding_timeline p:first-child {
 font-size: 40px;
 font-family: sign;
}

.timeline_date {
 font-size: 10px;
 margin-top: 10px;
}

.container {
 position: relative;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 padding: 50px 0;
}

.timeline {
 width: 80%;
 position: relative;
 top: -40px;
 height: auto;
 max-width: 800px;
 margin: 0 auto;
 position: relative;
}

.timeline ul {
 list-style: none;
}

.timeline_content {
 margin-bottom: 10px;
 text-align: right;
 display: flex;
 flex-direction: column;
 justify-content: center;
 height: 220px;

}

.timeline-content {
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 20px;
}

.timeline img {
 width: fit-content;
}

li:nth-child(odd) .timeline_time,
li:nth-child(even) .timeline_time {
 background: rgb(234, 180, 132);
 padding: 4px 10px;
 color: white;
 font-size: 12px;
 width: fit-content;
 position: absolute;
 right: 0;
 top: 20px;
 margin: 10px 0;
}

li:nth-child(even) .timeline_time {
 left: 0;

}

li:nth-child(even) .timeline_content {
 text-align: left;
}

.timeline_text h2 {
 font-weight: lighter;
 margin: 10px 0;
 color: rgb(79, 79, 79);
}

.timeline_text p {
 font-size: 13px;
 color: rgb(126, 126, 126);
}

.timeline ul li {
 width: 50%;
 margin-bottom: 10px;
 position: relative;
 height: 220px;
}

.timeline ul li:nth-child(odd) {
 float: left;
 transform: translate(-20px);
}

.timeline ul li:nth-child(even) {
 float: right;
 transform: translate(20px);
}

.timeline-content img {
 position: relative;
 top: -10px;
}

.timeline::before {
 content: " ";
 position: absolute;
 height: 100%;
 width: 2px;
 background-color: rgb(210, 210, 210);
 left: 50%;
 transform: translate(-50%);
}

.timeline ul li::after,
.timeline ul li::before {
 content: " ";
 position: absolute;
 height: 20px;
 width: 20px;
 background-color: rgba(248, 211, 143, 0.5);
 border-radius: 50%;
 top: 0;
}

.timeline ul li:first-child::after {
 width: 10px;
 height: 10px;
}

.timeline ul li:nth-child(odd)::after,
.timeline ul li:nth-child(odd)::before {
 transform: translate(50%, -50%);
 right: -20px;
}

.timeline ul li:nth-child(even)::after,
.timeline ul li:nth-child(even)::before {
 display: none;
}

.timeline ul li:nth-child(odd)::before {
 width: 10px;
 height: 10px;
 background-color: rgb(255, 207, 118);
}

.stay {
 z-index: -1;
 position: relative;
 top: -200px;
 width: 100%;
 height: 80vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 position: relative;
 background-image: url("image/registry_bg03.jpg");
 background-repeat: no-repeat;
 background-size: 100% 100%;
}

.circle {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background-image: url("image/golden_frame-300x294.png");
 background-repeat: no-repeat;
 background-size: 140px;
 height: 140px;
 width: 140px;
 word-break: break-word;
 text-align: center;
 font-style: italic;
}

.stay>p {
 text-align: center;
 width: 70%;
 position: inherit;
 top: 30px;
 max-width: 500px;
 font-size: 12px;
 color: rgb(96, 96, 96);
}


.box-flex {
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 position: relative;
 position: relative;
 top: -250px;
}

.box {
 width: 300px;
 height: 200px;
 background: rgb(255, 233, 214);
 margin: 0 10px;
 display: flex;
 flex-direction: column;
 text-align: center;
 justify-content: center;
 align-content: center;
}

.box i {
 font-size: 50px;
 color: rgb(234, 161, 97);
}

.box h2 {
 margin: 20px 0;
 color: rgb(97, 97, 97);
}

.box p {
 color: rgb(132, 132, 132);
}

.bird {
 display: flex;
 flex-direction: column;
 text-align: center;
 width: 100%;
 position: relative;
 top: -150px;
 justify-content: center;
 align-items: center;
}

.bird img {
 width: 200px;
}

.bird h2 {
 margin-top: 20px;
 color: rgb(60, 60, 60);
 font-weight: 540;
}

.bird p {
 color: rgb(101, 101, 101);
 font-weight: 540;
 font-size: 14px;
 max-width: 500px;
}

.last_img {
 position: relative;
 background-image: url(image/rsvp_bg03.jpg);
 background-repeat: no-repeat;
 background-size: 100% 100%;
 height: 100vh;
 width: 100%;
 top: -460px;
 z-index: -1;
}

.family_img {
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
 top: 380px;
}

.family_img img {
 width: 300px;
 border-radius: 10px;
 box-shadow: 1px 1px 4px 1px black;
}

.family_text {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
 position: relative;
 top: -420px;
 color: rgb(49, 49, 49);
}

.family_text img {
 width: 150px;
 margin-top: 10px;
}

.date_boxes {
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
 top: -380px;
}

.date_boxes div {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background: rgb(255, 233, 214);
 margin: 0 5px;
 padding: 5%;
 height: 110px;
}

.icons {
 width: 100%;
 display: flex;
 position: relative;
 justify-content: space-around;
 align-items: center;
 top: -340px;
 padding: 0 50px;
 text-align: center;
}

.icon .icon_img img {
 width: 80px;
}

.icon .icon_img {
 height: 80px;
}

.icon p {
 margin: 10px 0;
 color: rgb(79, 79, 79);
}

.footer {
 background: rgb(24, 56, 24);
 height: 250px;
 position: relative;
 top: -300px;
 width: 100%;
}

.mark {
 width: 250px;
 height: 100%;
 display: flex;
 justify-content: space-evenly;
 align-items: space-evenly;
}

.mark_img {
 position: relative;
 width: 100%;
 background-image: url("image/mark-s10-e1615030452327.png");
 background-repeat: no-repeat;
 background-size: 100%;
 transform: scale(60%);
 display: flex;
 justify-content: center;
 align-items: center;
}

.mark img:last-child {
 position: absolute;
 width: 45vw;
 right: 5px;
 top: 70px;
 float: right;
}

.mark_text {
 text-align: center;
 position: relative;
 font-size: 25px;
 color: rgb(149, 135, 59);
}